.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-container {
  margin: 1rem;
  border-style: solid;
  border-color: blue;
  padding: 1rem;
  width: 200px;
  border-radius: 12px;
}
